export(classify)
export(get_cl_attrib)
export(est_error)
export(error_split)
export(error_cv)
export(error_boot)
export(error_632)
export(error_632plus)
export(error_apparent)
export(plot_classify)
export(cv_partition)
export(var_sel)
export(var_sel_anova)
